################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KarateSchoolProject/FileContentIndex/3c80702c-c34b-4924-8319-5259f7e1cd0a.vsidx
/.vs/KarateSchoolProject/FileContentIndex/934cd757-a759-40ee-8ea7-57cef90334e9.vsidx
/.vs/KarateSchoolProject/FileContentIndex/b37e98a2-0320-4523-a87e-1000b3f082e0.vsidx
/.vs/KarateSchoolProject/FileContentIndex/fc75fe4c-9599-43c1-833b-fa4175f11488.vsidx
/.vs/KarateSchoolProject/FileContentIndex/d3a85bbf-fcdb-436e-8392-02488516a544.vsidx
