################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KarateSchoolProject/FileContentIndex/3c80702c-c34b-4924-8319-5259f7e1cd0a.vsidx
